@{
    ViewBag.Title = "Email Not Confirmed";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        The email address for your account has not been confirmed.  Please check your email and click the link to verify your account.<br />
        <br />
        If you would like to resend the confirmation email please click @Html.ActionLink("here", "ResendConfirmationEmail", "Account").

    </p>
</div>
